#aux-footer{
    display: flex;
    flex: 1 1 auto;
    min-height: 65px;
}

footer{
    height: 20px;
}


footer{
    box-sizing: initial;
    align-self: flex-end;
    background: #18347D;
    color: #fff;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer .info{
    color: #fff;
    text-decoration: none;
}

@media only screen and (min-width: 1500px){
    #aux-footer{
        display: flex;
        flex: 1 1 auto;
        min-height: 100px;
    }
}