*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.row.hideable{
  display: none;
}

.hideable{
  display: none;
}

.btn {
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.btn:hover{
    opacity: 0.8;
}

.btn-circle:hover{
    opacity: 0.8;
}

.btn-register {
    color: #fff;
    background-color:#18347D;
    border-color:#17a2b8;
}

.btn-check-in,.btn-done{
    color: #fff;
    background-color: #18347D;
    border-color:#18347D;
    padding: 2px 5px;
}


.btn-block {
    display: block;
    width: 100%;
}

.btn, .button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    border-radius: 3;
    cursor: pointer;
}

.btn-circle{
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 1px 12px;
    background-color: green;
}

.btn, button, input, textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    margin-bottom: 0px;
}

small {
    font-size: 80%;
}

small {
    font-size: 80%;
}

b, strong {

    font-weight: bolder;

}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row-simple{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.in-row{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}


.card {
    display: flex;
    position: relative;
    padding: 0;
    margin-bottom: 1.875em;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    -ms-flex-direction: column;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: 
    rgba(0,0,0,.03);
    border-bottom: 1px solid
    rgba(0,0,0,.125);
}

.card-header .btn-right{
  display: flex;
  justify-content: flex-end;
}

.card .card-body {
    float: left;
    padding: 1.25em;
    position: relative;
    width: 100%;
}
.card-body {
    padding: 15px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-icon {
    padding: .5rem .75rem;
    border: 1px solid
    rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
}

.input-group-icon,
.input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group > .custom-select:not(:first-child), 
.input-group > .form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .custom-file, 
.input-group > .custom-select, 
.input-group > .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color:#fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control::placeholder {
    color: 
    #6c757d;
    opacity: 1;
}

.text-muted {
    font-size: 14px;
}
.text-muted {
    color: 
    #6c757d !important;
}
.form-text {
    display: block;
    margin-top: .25rem;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}




.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col, .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    position: relative;
    width: 100%;
    min-height: 1px;
}

.padd{
    padding-right: 15px;
    padding-left: 15px;
}

.wrap-8{
    margin-left: 16.66%;
}

.wrap-9{
    margin-left: 12.5%;
}

.wrap-10{
    margin-left: 8.33%;
}

.wrap-11{
    margin-left: 4.166%;
}