/*Diseño de estilos en 1024*/
@media only screen and (min-width: 1024px){
	#logo-hotel{
		width: 60px;
  }
	
	.responsive-page,
	#button-book{
		width: 83.33%;
		padding: 0.533;
    margin-left: 7.8%;
	}

}